body {
  font-family: arial, sans-serif;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  background: #212a3e;
  border: none;
  border-radius: 10px;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #fff;
}

h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

.weather-img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.overview {
  margin-bottom: 20px;
}

#row {
  display: flex;
  align-items: center;
}

#city-input {
  width: 100%;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

#temperature {
  color: #fff;
}

#searchBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  background-color: #fff;
  border: none;
  color: #212a3e;
}

#searchBtn:hover {
  background-color: #9ba4b5;
  color: #080202;
}

.weather-temperature strong {
  font-size: 64px;
  line-height: 1;
}

.units {
  cursor: pointer;
  color: #fff;
}

.weather-temperature .active {
  color: #fff;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li::first-letter {
  text-transform: capitalize;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
  cursor: default;
}

small {
  color: #fff;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #fff;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperature {
  font-size: 13px;
}

.weather-temperature .units {
  font-size: 16px;
  top: -34px;
}

@media screen and (max-width: 576px) {
  .weather-temperature strong {
    font-size: 48px;
  }

  .weather-temperature .units {
    font-size: 12px;
    top: -28px;
  }

  #row {
    flex-wrap: wrap;
  }

  #city-input {
    flex: 1 0 70%;
    margin-bottom: 10px;
  }

  #searchBtn {
    flex: 1 0 70%;
    margin-bottom: 10px;
    margin-left: 15%;
  }

  @media screen and (max-width: 360px) {
    .weather-temperature strong {
      font-size: 36px;
    }

    .weather-temperature .units {
      font-size: 10px;
      top: -22px;
    }
  }
}
